---
layout: "layouts/page.njk"
title: ¡Gracias por el mensaje!
---
<p>Si tu mensaje requiere una respuesta, espérala en un par de días.</p>
<p>
    Ahora puedes <a href="/">volver a la página inicial</a> o a <a href="/episodios/">la lista de episodios</a>
</p>