.btn{
    letter-spacing: .5px;
}

.btn-primary{
    background: var(--link);
    color: white;
    border: none;
}

.btn-outline-primary{
    color: var(--link-muted);
    border-color: var(--link-muted);
}

.btn-primary:hover,
.btn-outline-primary:hover{
    background: var(--link-muted);
    border-color: var(--link-muted);
color: white;
}

.btn:active{
    background: var(--link-muted) !important;
    border-color: var(--link-muted) !important;
    color: white;
    position: relative;
    overflow: hidden;
    animation: 150ms ease-in-out 1 duck;
}

@keyframes duck{
    from, to {
        scale: 1;
    }
    50%{
        scale: .75;
    }
}