.navbar-brand{
    font-size: unset !important;
}

.navbar a:not(.btn){
    color: var(--dark);

    &:hover{
        color: var(--link-muted);
    }
}

.navbar-toggler{
}
.navbar-toggler .close{
    display: none;
}

.navbar-toggler[aria-expanded=true] .close{
    display: block;
}

.navbar-toggler[aria-expanded=true] .burger{
    display: none;
}