
.episode-player .shk{
  --background-body: #fff;                           /* background of the player body */
  --color-title: var(--dark);                               /* color of the title text */
  --color-artist: color-mix(in srgb, var(--dark) 75%, transparent);                              /* color of the artist text */
  --color-button: var(--link);       /* color of the buttons, defaults to `themeColor` */
  --color-button-disabled: color-mix(in srgb, var(--dark) 75%, transparent);                      /* color of button:disabled */
  --color-button-active-background: var(--bg);            /* color of the background of button:active` */
  --color-handle: var(--link);       /* color of the playback progress handle, defaults to `themeColor` */
  --color-handle-disabled: color-mix(in srgb, var(--dark) 75%, transparent);                     /* color of the handle:disabled */
  --color-bar-loaded: var(--link);                          /* color of the loaded playback progress, defaults to `themeColor` */
  --color-bar-played: var(--link);   /* color of the loaded playback progress, defaults to `themeColor` */
  --color-time: var(--dark);                                /* color of the playback time */
  --color-spinner: var(--link);      /* color of the playback loading indicator, defaults to `themeColor` */
  --color-live-symbol: var(--link);  /* color of the live indicator symbol, defaults to `themeColor` */
  --color-live-text: var(--link);    /* color of the live indicator text, defaults to `themeColor` */
}


.episode-player{
  position: relative;
  top: -4px;
}

.episode-player .shk-bar_loaded{
  opacity: .5;
}