@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Tenor+Sans&display=swap');
        *{
            box-sizing: border-box;
        }
        html{
            font-size: 16px;
            line-height: 1.5;

            --color-txt: #1b0235;
            --color-acc: #f03;
            --color-neg: #fff;
            --color-bg: #f0f0f3;
            --color-shadow: rgba(27, 2, 53, 0.2);
        }
        body{
            margin: 0;
            color: var(--color-txt);
            background-color: var(--color-bg);
            font-family: sans-serif;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 3rem;
            align-items: start;
            padding: 3rem;
        }

        h1, h2, h3, h4{
            font-family: sans-serif;
        }

        h2{
            line-height: 1.2;
        }
        .header{
            background: var(--color-txt);
            color: var(--color-neg);
            padding: 3rem;
            border-radius: 1.5rem;

            h1{
                font-size: 5rem;
                line-height: 1;
                margin: 0 0 1.5rem;
            }
            p{
                font-size: 1.5rem;
                margin: 0;
            }
        }

        .main{
            color: var(--color-neg)
        }

        .cover-image{
            width: 100%;
            aspect-ratio: 1/1;
        }

        .episodes{
            position: relative;
        }

        .episode{
            padding: 3rem;
            display: flex;
            flex-direction: column;
            background: var(--color-neg);
            color: var(--color-txt);
            border-radius: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .episode-player{
            margin-top: auto;
        }
        audio{
            width: 100%;
        }



        .episode-image{
            width: 9rem;
            aspect-ratio: 1/1;
            position: absolute;
            left: 1.5rem;
            top: 1.5rem;
            display: none;
        }

        .episode-title{
            margin-top: 0;
            font-size: 2.5rem;
            line-height: 1.2;
            margin-bottom: 0;
        }

        .episode-date{
            opacity: .5;
        }

        .episode-description{
            > :first-child{
                margin-top: 0;
            }
        } 

        .contact-form{
            padding: 1.5rem;
            background: var(--color-txt);
            color: var(--color-neg);
        }

        .contact-form label{
            display: block;
        }

        .contact-form input,
        .contact-form textarea{
            display: block;
            margin-bottom: 1.5rem;
            width: 100%;
            padding: .5rem;
        }

        // GRID EPISODES
        