@media (max-width: 640px){
    .shk[data-fixed-type=auto]{
        position: relative;
    }
    .shk-player{
        padding: 20px;
        height: unset;
    }
}

.shk-player{
    background: transparent !important;
    box-shadow: none !important;
}

.shk-cover{
    display: none;
}

.shk-main{
    max-width: unset;
}