<section>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mb-lg-0 col-lg-6">
                <h3 class="mb-0">Jorge Cardoza</h3>
                <p class="mt-0"><strong>Host</strong></p>
                <div class="row">
                    <div class="col-3"><img src="/assets/img/jorge.jpg" alt="Jorge Cardoza" class="img-fluid rounded"></div>
                    <div class="col-9">
                        <p>Cirujano ortopedista, entusiasta de la historia, las artes y la salud mental.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="mb-0">Axel Valdez</h3>
                <p class="mt-0"><strong>Co-Host/Productor</strong></p>
                <div class="row">
                    <div class="col-3"><img src="/assets/img/axel.jpg" alt="Axel Valdez" class="img-fluid rounded"></div>
                    <div class="col-9">
                        <p>Desarrollador de software, diseñador y productor amateur de podcasts. Más en <a href="https://axelvaldez.mx">axelvaldez.mx</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>