<!-- hero -->
<section class="container">
    <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="">
        <h1>Ferulita para el Alma</h1>
        <p class="lead">Un viaje de descubrimiento a través del mundo de la práctica médica.</p>
        <p><a href="/episodios/" class="btn btn-primary">Escucha un Episodio &rarr;</a></p>
        </div>
        </div>
        <div class="col-12 col-lg-6 px-5 d-flex align-items-center">
            <div id="carouselHero" class="carousel slide carousel-fade blend-multiply" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/img/slide-1.jpeg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/img/slide-2.jpeg" class="d-block w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>