<section class="alt">
  <div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h2 class="h6 mb-3">Nuestro episodio más reciente:<h2>
        <h3 class="mb-3 h2">{{ podcast[0][0].title }}</h3>
        {% include 'partials/player-latest.njk' %}
        <p class="episode-date">{{ podcast[0][0].pubDate | readableDate}}</p>
        <div class="episode-description truncate">{{ podcast[0][0].itunes.summary | safe }}</div>
        <p>
            <a href="/episodios/{{ podcast[0][0].slug }}" class="btn btn-primary me-2">Ver detalles<i class="fa-solid fa-arrow-right ms-2"></i></a>
            <a href="/episodios/" class="btn btn-outline-primary">Más Episodios<i class="fa-solid fa-arrow-right ms-2"></i></a>
        </p>
    </div>
  </div>
    </div>
</section>