
            <div class="grid">
                <ul>    
                {% for episode in podcast[0] %}
                        <li><a href="/episodios/{{ episode.slug }}/index.html">{{ episode.title }}</a></li>
                {% endfor %}
                </ul>
            </div>