<section class="footer">
    <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-center text-md-start">
        <p class="m-0 mb-4 mb-md-0">
            <strong>Ferulita para el Alma</strong><br>
            &copy; 2022-2023 Jorge Cardoza y Axel Valdez<br>
            Contacto: <a href="mailto:hola@ferulita.com">hola@ferulita.com</a>.
        </p>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
        <p class="m-0">
            <img src="/assets/img/apex-white.svg" alt="">
            <img src="/assets/img/noice-white.svg" alt="" class="ms-4">
        </p>
      </div>
    </div>
      </div>
    </section>