
<h4 class="h5 mb-3 mt-5 pt-5 border-top border-white">¿Tienes preguntas o comentarios acerca de este episodio?</h4>
<div class="row">
    <div class="col-12 col-lg-6 mb-2">
        <label for="nombre" class="d-block mb-1" required>Nombre</label>
        <input type="text" name="nombre" class="form-control">             
    </div>
    <div class="col-12 col-lg-6 mb-2" required>
        <label for="nombre" class="d-block mb-1">¿Cómo podemos contactarte?</label>
        <input type="text" name="contacto" class="form-control">
    </div>
    <div class="col-12 mb-2" required>
        <label for="comentarios" class="d-block mb-1">Tus comentarios o preguntas</label>
        <textarea rows="6" name="comentarios" class="form-control"></textarea>
    </div>
    <div class="col-12 mt-2">
        <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
</div>
