<!-- hero -->
<section class="container">
    <div class="row">
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="">
        <p class="h1">Un viaje de descubrimiento a través del mundo de la medicina.</p>
        <p class="lead">Descubre el mundo de la medicina a través de explicaciones claras y sencillas. Ferulita para el Alma ofrece un enfoque divertido y fácil de entender para acercar la ciencia médica a cualquier persona.</p>
        <p><a href="/episodios/" class="btn btn-primary">Escucha un Episodio &rarr;</a></p>
        </div>
        </div>
        <div class="col-12 col-lg-6 px-5 d-flex align-items-center">
        {# <img src="{{ podcast[1].image.url }}" class="img-fluid mb-3 mb-lg-0" alt=""> #}
        <div class="hero-slider">
            <img src="/assets/img/slide-1.png" class="img-fluid mb-3 mb-lg-0 blend-multiply" alt="">
            <img src="/assets/img/slide-2.png" class="img-fluid mb-3 mb-lg-0 blend-multiply" alt="">
        </div>
        </div>
    </div>
</section>