<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>Dr. Jorge Cardoza Encinas</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi commodi temporibus asperiores fuga neque iste fugit dolorem eum cumque explicabo.</p>
            </div>
            <div class="col-12 col-md-6">
                <h3>Axel Valdez</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi commodi temporibus asperiores fuga neque iste fugit dolorem eum cumque explicabo.</p>
            </div>
        </div>
    </div>
</section>