<!DOCTYPE html>
<html lang="es">
<head>
    {% if page.url == "/" %} {% set htmltitle = "Ferulita para el Alma" %}
    {% elif page.url == "/episodios/" %} {% set htmltitle = "Ferulita para el Alma: Todos los Episodios" %}
    {% elif "/episodios/" in page.url %} {% set htmltitle = "Ferulita para el Alma " + epi.title %}
    {% else %} {% set htmltitle = "Ferulita para el Alma: " + title %}
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmltitle}}</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/shikwasa/style.css">
    <script src="https://kit.fontawesome.com/2da67a8ca9.js" crossorigin="anonymous" defer></script>
</head>
<body>