<!-- nav -->
<div class="header container">
    <nav class="border-bottom border-3 border-dark py-4">

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container px-0">
              <h3 class="m-0"><a class="navbar-brand" href="/">Ferulita para el Alma</a></h3>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/episodios/">Episodios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contacto/">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-primary" href="#suscribete">Suscríbete</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        <!-- <div class="row">
        <div class="col-12 col-lg-5 py-5 pb-0 pb-lg-5">
            <p class="h3 m-0"><a href="/" class="text-dark">Ferulita para el Alma</a></p>
        </div>
        <div class="col-12 col-lg-7 d-flex flex-column justify-content-lg-center align-items-stretch py-5 pt-2 pt-lg-5">
            <ul class="list-unstyled d-flex justify-content-start justify-content-lg-end align-items-center m-0 h6">
            <li><a href="/episodios/">Episodios</a></li>
            <li class="ms-4"><a href="/acerca/">Acerca de Ferulita</a></li>
            <li class="ms-4"><a href="/contacto/">Contacto</a></li>
            <li class="ms-auto ms-lg-4"><a class="btn btn-primary" href="#suscribete">Suscríbete</a></li>
            </ul>
        </div>
        </div> -->
    </nav>
</div>