<!-- nav -->
<div class="header container">
    <nav class="border-bottom border-3 border-dark">
        <div class="row">
        <div class="col-12 col-lg-5 py-5 pb-0 pb-lg-5">
            <p class="h3 m-0"><a href="/" class="text-dark">Ferulita para el Alma</a></p>
        </div>
        <div class="col-12 col-lg-7 d-flex flex-column justify-content-lg-center align-items-stretch py-5 pt-2 pt-lg-5">
            <ul class="list-unstyled d-flex justify-content-start justify-content-lg-end align-items-center m-0 h6">
            <li><a href="/episodios/">Episodios</a></li>
            <li class="ms-4"><a href="/acerca/">Acerca de Ferulita</a></li>
            <li class="ms-4"><a href="/contacto/">Contacto</a></li>
            <li class="ms-auto ms-lg-4"><a class="btn btn-primary" href="/suscripcion/">Suscríbete</a></li>
            </ul>
        </div>
        </div>
    </nav>
</div>