<!-- subscribe banner -->
<section class="alt" id="suscribete">
    <div class="container">

      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 text-center">
          <h3>¡No te pierdas ningún episodio!</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 text-center">
          <p>Ferulita para el Alma es para pacientes y médicos por igual. No importa tu nivel de conocimiento médico, tenemos algo para tí en cada episodio.</p>
          <p>Suscríbete y acompañanos a explorar las verdades a veces incómodas, otras divertidas, del mundo de la atención médica.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 text-center">
          <div class="cards">
            <a href="https://spotify.com" class="card spotify shadow rounded"><i class="fa-brands fa-spotify"></i><p class="m-0">Spotify</p></a>
            <a href="https://apple.com" class="card apple shadow rounded"><i class="fa-solid fa-podcast"></i><p class="m-0">Apple</p></a>
            <a href="https://ferulita.com" class="card rss shadow rounded"><i class="fa fa-rss"></i><p class="m-0">RSS</p></a>
          </div>
        </div>
      </div>

    </div>






  </section>