<!-- subscribe banner -->
<section class="alt">
    <div class="container">

      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 text-center">
          <h3>¡No te pierdas ningún episodio!</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 text-center">
          <p>Ferulita para el Alma es para pacientes y médicos por igual. No importa tu nivel de conocimiento médico, tenemos algo para tí en cada episodio.</p>
          <p>Suscríbete y acompañanos a explorar las verdades a veces incómodas, otras divertidas, del mundo de la atención médica.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3 text-center">
          <ul class="list-unstyled d-flex justify-content-center">
            <li><a href="#" class="btnicon spotify mx-1"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="#" class="btnicon applepodcasts mx-1"><i class="fa-solid fa-podcast"></i></a></li>
            <li><a href="#" class="btnicon rss mx-1"><i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>

    </div>






  </section>