---
layout: "layouts/page.njk"
title: Todos los Episodios
pagination:
  data: podcast[0]
  size: 12
  alias: epis
---
{# 
<div class="row">
        
</div> #}
{# <ul class="list-unstyled">     #}
<div class="row">
{% for episode in epis %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3">
                <a href="/episodios/{{ episode.slug }}/index.html" class="episode-card rounded shadow">
                        <object>
                        <div class="episode-image mb-3 rounded-top"><img src="{{ episode.itunes.image }}" class="img-fluid rounded-top"></div>
                        <h3 class="h5 mx-3 mb-1 episode-title">{{ episode.title }}</h3>
                        <div class="episode-description mx-3 pb-3">{{ episode.itunes.summary | safe }}</div>
                        </object>
                </a>
        </div>
        {# <li class="border-bottom border-light">
                <a href="/episodes/{{ episode.slug }}/index.html" class="py-3 d-flex justify-content-between">
                        <span>{{ episode.title }}</span>
                        <span class="text-secondary">{{ episode.pubDate }}</span>
                </a>
        </li> #}
{% endfor %}
</div>
<div class="row mt-5">
        {% if pagination.href.previous and  pagination.href.next %}
                <div class="col-6">
                        <a href="{{pagination.href.previous }}">&larr; Episodios más recientes</a>
                </div>
                <div class="col-6 text-end">
                        <a href="{{pagination.href.next }}">Episodios Anteriores &rarr;</a>
                </div>
        {% elif pagination.href.previous%}
                <div class="col-6">
                        <a href="{{pagination.href.previous }}">&larr; Episodios más recientes</a>
                </div>
        {% elif pagination.href.next%}
                <div class="col-6 offset-6 text-end">
                        <a href="{{pagination.href.next }}">Episodios Anteriores &rarr;</a>
                </div>
        {% endif %}
</div>
{# </ul> #}