---
permalink: "/invitado/index.html"
layout: "layouts/page-narrow.njk"
title: Información del Invitado
---
<p>Gracias por aceptar la invitación a Ferulita para el Alma.</p>
<p>La siguiente información nos ayuda a dar más contexto acerca de usted, y asegurarnos de que nuestros oyentes tengan los datos para contactarle.</p>

{% include 'partials/form-guest.html' %}