{% include 'partials/html-header.njk' %}
{% include 'partials/block-nav.html' %}
{% include 'partials/block-hero.njk' %}
{% include 'partials/block-latest.njk' %}
{% include 'partials/block-hosts.html' %}
{% include 'partials/block-sub.html' %}
{% include 'partials/block-footer.html' %}
{% include 'partials/html-footer.html' %}