{% include 'partials/head.html' %}
{% include 'partials/nav.html' %}
{% include 'partials/hero.njk' %}
{% include 'partials/latest.njk' %}
{% include 'partials/hosts.html' %}
{% include 'partials/sub.html' %}
{% include 'partials/footer.html' %}
{% include 'partials/foot.html' %}