{% include 'partials/html-header.njk' %}
{% include 'partials/block-nav.html' %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h1 class="mb-3">{{ title }}</h1>
                {{ content | safe }}
            </div>
        </div>
    </div>
</section>


{% include 'partials/block-sub.html' %}
{% include 'partials/block-footer.html' %}
{% include 'partials/html-footer.html' %}